flask==2.3.3
Flask-Cors==4.0.0
flask-jwt-extended==4.5.2
celery==5.2.5
redis==4.5.1
importlib-metadata==6.8.0
python-dotenv==1.0.0
setuptools

# database
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.21
postgres==4.0

# docs
flasgger==0.9.7.1
marshmallow==3.20.1
apispec==6.3.0

# tests
coverage==7.3.1
requests==2.31.0
locust==2.16.1
