flask==2.2
Flask-Cors==3.0.10
flask-jwt-extended==4.4.4
celery==5.2.5
redis==4.5.1
importlib-metadata==4.13.0
python-dotenv==1.0.0
setuptools

# encrypt password
passlib==1.7.4

# RESTfull
Flask-RESTful==0.3.10
flask-rest-paginate==1.1.3

# database
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
SQLAlchemy==2.0.15
psycopg2==2.9.6
postgres==4.0

# docs
flasgger==0.9.5
marshmallow==3.19.0
apispec==6.3.0

# tests
coverage==7.2.5
requests==2.31.0
locust==2.15.1
